@import url('https://fonts.googleapis.com/css2?family=Cantora+One&family=Nunito&display=swap');

*{
    margin: 0px 10px 0px 15px ;
    text-decoration: none;
    
}

header{
    background-color: #2A9D8F;
    display:grid ;
    grid-template-columns: 1fr 3fr ;
    align-items: center;
    margin-left: 45px;
    margin-right: 5px;
   
   
}

.hov{
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.hov a{
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
    font-family: Helvetica, Nunito, sans-serif;
    font-size: 25px;
}
.hov :hover{
    background-color:#F4A261;
    color: white;
}

.logo{
    
    justify-self: center;
    align-self: center;
}



.hero img {
    display: block;
    width: 100%;
    height: auto;
    
}

.hero {
    position: relative;

}

h1 {
    font-family: "Cantora One", " Helvetica", "sans-serif";
    color: #F4A261 ;
    position: absolute;
    top: 70px;
    width: 100%;
    text-align: center;
    background-color: #02304772;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 125px;
}

article {
    font-family: "Nunito", " Helvetica", "sans-serif";
    position: absolute;
    color: white;
    width: 30%;
    top: 40%;
    right: 10%;
    padding: 10px;
    font-size: 30px;
    background-color: #2a9d90a9;

   
}

h2 {
   
    font-family: "Cantora One", " Helvetica", "sans-serif";
    color: #F4A261;
    padding-top: 20px;
    padding-bottom: 20px;
 
}

.pictures {
    max-width: 100%;
    width: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10% 80%;
}
.adventure {
    grid-column: 2/5;
    grid-row: 1/2;
}
.im1{
    grid-column: 1/2;
    grid-row: 2/3;
}
.im2{
    grid-column: 2/3;
    grid-row: 2/3;
}
.im3{
    grid-column: 3/4;
    grid-row: 2/3;
}
.im4{
    grid-column: 4/5;
    grid-row: 2/3;
}
.im5{
    grid-column: 5/6;
    grid-row: 2/3;
}


footer{
    background-color:#2A9D8F;
    color:white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
    
   
}


.sociallinks {
    grid-column: 3/4;
    display: flex; 

    
   
   
}

.copy {
    font-family: "Nunito", " Helvetica", "sans-serif";
    font-size: 20PX;
    grid-column: 2/3; 
    justify-self: center;
    

}







